* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px blue; */
}
body{
    background-color: rgb(243, 221, 224);
    display: flex;
    flex-direction: column;
    gap:50px;
}
/*--------------- barra de navegacion ----------------*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cyan;
    padding: 5px;
    border-radius: 4px;
    gap: 400px;


}
.navbar, .navbar-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navbar-list  a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(17, 6, 6);
    text-decoration: none;

}
a:hover{
    color: rgb(4, 0, 255);
}
section{
    max-width: 1200px;
    display: flex;
    gap: 200px;
    justify-content: space-between;
    margin:auto;
}
.encabezado{
    display: flex;
    flex-direction: column;
    gap: 20px;;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.encabezado p{
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.encabezado h1{
color: black;
font-size: 50px;    
}

.info{
    max-width: 500px;
    margin: auto;
}
.info p{
    text-align: center;
    
}
/* ----------------------------------hero---------------------------------------- */
.Products{
    display: flex;
    flex-direction: column;
    gap: 40PX;
}
.Products h2{
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.Hero-Card-Men, .Hero-Card-Women{
    display: flex;
    gap: 20px;
}
.Hero-Card-Men img{
width: 400px;
height: 500px;
}
.Hero-Card-Women img{
    width: 400px;
    height: 500px;
    }
    button{
        font-size: 16px;
        padding: 4px;
        background-color: rgb(91, 91, 235);
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    
footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-color: rgb(31, 28, 28);
    
}
.Networks{
    display: flex;
    flex-direction: column;

}
.info{
    display: flex;
    gap: 10px;
    align-items: center;
}
.info h2{
    color: white;
}